useDynLib(latent, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(data.table, data.table, fread)
importClassesFrom(Matrix, dgCMatrix)
exportPattern("^[[:alpha:]]+")
export(se)
S3method(se, llca)
S3method(se, lcfa)
export(getfit)
S3method(getfit, llca)
S3method(getfit, lcfa)
S3method(summary, llca)
S3method(summary, lcfa)
export(latInspect)
S3method(latInspect, llca)
S3method(latInspect, lcfa)
