useDynLib(latent, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(data.table, data.table, fread)
importClassesFrom(Matrix, dgCMatrix)
exportPattern("^[[:alpha:]]+")
export(se)
S3method(se, llca)
S3method(se, llcalist)
S3method(se, lcfa)
export(getfit)
S3method(getfit, llca)
S3method(getfit, llcalist)
S3method(getfit, lcfa)
export(latInspect)
S3method(latInspect, llca)
S3method(latInspect, llcalist)
S3method(latInspect, lcfa)
S3method(summary, llca)
S3method(summary, llcalist)
S3method(summary, lcfa)
S3method(predict, llca)
S3method(predict, llcalist)
S3method(fitted, llca)
S3method(fitted, llcalist)
S3method(plot, llca)
